# Replace the value below with your actual API key and copy this file to .env


# Mappls API Configuration
MAPPLS_REST_KEY="your_api_key_here"

# Twilio API Configuration
TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_FROM_NUMBER=whatsapp:+TWILIOPROVIDEDNUMBER
TWILIO_TO_NUMBER=whatsapp:+91YOURPHONENUMBER